<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BetterWorld</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>x22RqXy-1ncak7oRc-uDlukSCDuzObm0qvyDr</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>BetterWorld가 장치의 카메라를 사용하는 것을 허용하시겠습니까</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>BetterWorld가 장치의 사진 라이브러리를 사용하는 것을 허용하시겠습니까</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>BetterWorld가 장치의 마이크를 사용하는것을 허용하시겠습니까</string>
	<key>UIAppFonts</key>
	<array>
		<string>DroidSerif-Bold.ttf</string>
		<string>DroidSerif-BoldItalic.ttf</string>
		<string>DroidSerif-Italic.ttf</string>
		<string>DroidSerif.ttf</string>
		<string>Gugi-Regular.ttf</string>
		<string>Jua-Regular.ttf</string>
		<string>NotoSansKR-Black.otf</string>
		<string>NotoSansKR-Bold.otf</string>
		<string>NotoSansKR-Light.otf</string>
		<string>NotoSansKR-Medium.otf</string>
		<string>NotoSansKR-Regular.otf</string>
		<string>NotoSansKR-Thin.otf</string>
		<string>Uni Sans Bold Italic.otf</string>
		<string>Uni Sans Bold.otf</string>
		<string>Uni Sans Book Italic.otf</string>
		<string>Uni Sans Book.otf</string>
		<string>Uni Sans Heavy Italic.otf</string>
		<string>Uni Sans Heavy.otf</string>
		<string>Uni Sans Italic.otf</string>
		<string>Uni Sans Light Italic.otf</string>
		<string>Uni Sans Light.otf</string>
		<string>Uni Sans Regular.otf</string>
		<string>Uni Sans SemiBold Italic.otf</string>
		<string>Uni Sans SemiBold.otf</string>
		<string>Uni Sans Thin Italic.otf</string>
		<string>Uni Sans Thin.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
